*{
    margin: 0;
    padding: 0;
}

@media(min-width:1024px){
    .headerwrapper{
        width: 100%;
    }

    .headerwrapper .header{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #87cae9, #a2d6ee, #bce1f3, #d5edf8, #edf8fd);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

}